.main{
    margin-bottom: 10px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, .05);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .05);
    text-align: center;
    border-radius: 8px;
    background-color: var(--default-white);
    .login__logo{
        margin: 36px 0 12px;
        height: 50px;
    }
    .login__form{
        display: flex;
        flex-direction: column;
        margin-top: 24px;
        
        .input__user,
        .input__password,
        .input__reloadpassword{
            margin: 0 40px 6px;
            border-radius: 4px;
            height: 20;
            padding: 9px 0 7px 8px;
            border: 1px solid rgba(0, 0, 0, .05);
            line-height: var(--system-default-lineheight-20);
            font-size: var(--system-default-fontsize-16);
            color: var(--default-secondary-text);
        }

        .login__btn{
            margin: 8px 40px;
            height: 36px;
            background-color: var(--default-blue);
            color: var(--default-white);
            font-size: var(--system-default-fontsize-14);
            line-height: var(--system-default-lineheight-18);
            border-radius: 8px;
            cursor: pointer;
            &:hover{
                opacity: 0.8;
            }
        }
    }

    .login__line{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 10px 0 18px;
        .line_1,
        .line_2{
            background-color: rgba(0, 0, 0, .2);
            height: 1px;
            width: 100px;
        }
        .text__line{
            font-size: var(--system-default-fontsize-16);
            font-weight: 700;
            line-height: var(--system-default-lineheight-20);
            margin: 0 18px;
            color:  var(--default-secondary-text)
        }
    }

    .login__facebook{
        margin: 8px 40px;
        .login__facebook--link{
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
            .login__facebook--text{
                font-size: var(--system-default-fontsize-14);
                font-weight: 600;
                line-height: var(--system-default-lineheight-18);
            }
        }
        &:hover{
            opacity: 0.6;
        }
    }
    .login__forget,
    .reload__login{
        font-size: var(--system-default-fontsize-12);
        line-height: var(--system-default-lineheight-16);
        color: var(--default-secondary-text);
        margin-top: 12px;
        .login__forgot--link,
        .reload__login--link{
            margin: 8px 40px;
        }
        .reload__login--link{
            color: var(--default-blue);
            padding-top: 20px;
        }
        &:hover{
            opacity: 0.6;
        }
    }
}

.hidden{
    display: none;
}