.More-item{
    width: var(--default-width-more) - 36px;
    height: 18px;
    padding: 16px;
    line-height: var(--system-default-lineheight-18);
    margin: 0;
    color: var(--default-black);
    .link{
        display: flex;
        flex-direction: row;

        .item{
            width: 30px;
            height: 18px;

            .icon-item{
                height: 18px;
                width: 18px;
            }
        }

        .text{
            padding: 0;
            margin: 0;
            line-height: var(--system-default-lineheight-18);
            font-size: var(--system-default-fontsize-14);
            font-family: var( --font-family-system);
            font-weight: 400;
            color: var(--default-black);
            width: 200px;
        }
    }
    
    &:hover{
        background-color: rgba(0, 0, 0, .05);
        border-radius: 12px;
    }
}

.hidden{
    display: none;
}
.unhidden{
    display: block;
}

.input{
    width: 26px;
    height: 16px;
    float: right;
    
}
