.register{
    height: 100%;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .main{
        width: 350px;
        margin-top: 20px;
        z-index: 10;
    }
    .main_footer{
        margin-top: -70px;
    }
}