.imgStory{
    padding: 0px 4px;
    display: flex;
    flex-direction: column;
    
    .image_i{
        margin-bottom: 4px;
        margin: auto;
        scroll-snap-align: start;
    }
    .userStory{
        font-size: var(--system-default-fontsize-12);
        line-height: var(--system-default-lineheight-16);
        font-weight: 400;
        color: var(--default-secondary-text);
        width: 70px;
        padding: 0 2px;

        -webkit-line-clamp: 1;  
  	    -webkit-box-orient: vertical;
  	    overflow: hidden;
  	    text-overflow: ellipsis;
    }

}